<h1>AddrRules#show</h1>

<%= link_to "addr_rule index", addr_rules_path %>
<%= link_to "destroy", addr_rule_path(@addr_rule), method: :delete %>

<p>id: <%= @addr_rule.id %></p>
<p>user_id: <%= @addr_rule.user_id %></p>
<h2>name: <%= @addr_rule.name %></h2>

<% @addr_rule.coordinates.each do |c| %>
	<%= c.lat %> | <%= c.lng %><br />
<% end %>

<div id="naver_map" data-markers="<%= @addr_rule.coordinates %>"></div>

<script>
	$(document).on("page:load", loadNaverMap());
	// Change this to normal data passing codes to js
	$(document).ready(function(){ showMarkers(<%= @coord_array %>) });
</script>
