<tr>
	<td><%= question.user_id %></td>
	<td><%= question.email %></td>
	<td><%= question.contents %></td>
	<td><%= link_to "show", question_path(question) %></td>
	<td><%= link_to "edit", edit_question_path(question) %></td>
	<td><%= link_to "destroy", question, method: :delete %></td>
</tr>
	
