<div id="profiles" class="container" style="margin-top: 20px;">
	<div class="col-md-6 col-md-offset-3">
		<div>
			<%= form_for(@user, url: registration_path(@user), html: { method: :put }) do |f| %>
				<legend><%= @user.username %> 계정 변경</legend>

				<div class="form-group">
					<%= f.email_field :email, { class: "form-control", disabled: true } %>
				</div>

				<div class="form-group">
					<%= f.text_field :username, { class: "form-control", placeholder: "유저명*" } %>
				</div>

				<div class="form-group">
					<%= f.password_field :current_password, { class: "form-control", autocomplete: "off", placeholder: "현재 비밀번호" } %>
				</div>

				<div class="form-group">
					<%= f.label :password, "비밀번호 변경" %> <i>(비밀번호를 변경할 때 채워주세요.)</i>
					<%= f.password_field :password, { class: "form-control", autocomplete: "off", placeholder: "새 비밀번호(8자 이상)*" } %>
				</div>

				<div class="form-group">
					<%= f.password_field :password_confirmation, { class: "form-control", autocomplete: "off", placeholder: "새 비밀번호 확인*" } %>
				</div>

				<%= f.button "변경사항 저장", class: "btn btn-facebook btn-block" %>
			<% end %>
		</div>

		<%= button_to "계정 삭제", registration_path(@user), { class: "btn btn-block btn_red", data: { confirm: "현재 계정이 영원히 삭제됩니다. 계속 하시겠습니까?" }, method: :delete, style: "margin-bottom: 20px;" } %>
	</div>
</div>

<script>
	$(document).on('ready page:load', function() {
		$('.edit_user').validate({
			rules: {
				'user[username]': { required: true },
				'user[password]': { minlength: 8 },
				'user[password_confirmation]': {
					equalTo: '#user_password'}
			}
		});
	});
	$('button').click( function(e) {
		var text = $('#user_username').val();
		if ((textByteCheck(text) > 0) && (textByteCheck(text) < 6)) {
			alert('유저명은 한글 2글자, 영어 6글자 이상이어야 합니다.');
			e.preventDefault();
		};
	});
</script>
