<h1>MenuTitles#index</h1>

<table class="admin">
	<tr>
		<th>id</th>
		<th>restaurant</th>
		<th>name</th>
		<th>info</th>
		<th>updated_at</th>
		<th></th>
		<th></th>
	</tr>

	<% @menu_titles.each do |title| %>
		<tr>
			<td><%= title.id %></td>
			<td><%= restaurant_link_with_name(title.restaurant.try(:id)) %></td>
			<td><%= title.title_name %></td>
			<td><%= title.title_info %></td>
			<td><%= created_or_updated_at(title) %></td>
			<td><%= link_to "edit", edit_menu_title_path(title) %></td>
			<td><%= link_to "destroy", title, method: :delete %></td>
		</tr>
	<% end %>
</table>

<%= will_paginate @menus %>
