<h1>RestErrs#show</h1>

<table>
	<% @rest_err.attributes.each do |key, value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value %></td>
		</tr>
	<% end %>
</table>

<%= link_to "edit", edit_rest_err_path(@rest_err) %>

<h1>pictures</h1>

<% @pictures.each do |picture| %>
	<%= image_tag picture.img.url %>
	<%= link_to "edit", edit_picture_path(picture) %>
	<%= link_to "destroy", picture_path(picture), method: :delete %>
<% end %>
