<div class="col-md-10 col-md-offset-1">
	<%= form_for([@restaurant, menu], remote: true) do |f| %>
		<%= render "menu_titles/new", f: f %>

		<!-- Specify field because of controller subordination -->
		<%= render "menus/field", f: f %>

		<div style="text-align: right; margin-bottom: 10px;">
			<%= f.button "취소", { type: :reset, class: "btn btn_cancel", name: nil, onclick: "resetMenuForm()" } %>
			<%= f.button "추가", class: "btn btn_submit" %>
		</div>
	<% end %>
</div>
