<li id="menu_<%= menu.id %>" class="menu" data-menu-id="<%= menu.id %>">
	<div class="name_info"><%= menu.name %><span><%= menu.side_info %></span></div>
	<div class="price"><%= won_div(menu) %><%= sitga_div(menu) %></div>
	<div class="info"><%= menu.info %></div>

	<% if admin_user? %>
		<%= link_to "edit", edit_menu_path(menu), class: "edit_menu", remote: true %>
		<%= link_to "delete", menu_path(menu), class: "delete_menu", method: :delete, remote: true, data: { confirm: "gogo?" } %>
	<% end %>
</li>