<p>form form</p>
<%= form_for :notice, url: notices_path do |f| %>
	<%= f.label :question, "new question" %>
	<%= f.text_field :question %>

	<%= f.label :answer, "new answer" %>
	<%= f.text_field :answer %>

	<%= f.submit "gogo" %>
<% end %>
