<% if @naver_blogs.blank? && @daum_blogs.blank? %>
	<%= render "/blogs/no_blogs" %>
<% else %>
	<div style="width: 90%; margin: 0 auto;">
		<div class="daum">
			<%= render partial: "/blogs/blog", collection: @daum_blogs, as: :blog %>
		</div>
		<div class="powered_by">
			<%= image_tag "api/powered_by_daum.png" unless @daum_blogs.blank? %>
		</div>

		<div class="naver">
			<%= render partial: "/blogs/blog", collection: @naver_blogs, as: :blog %>
		</div>
		<div class="powered_by">
			<%= image_tag "api/powered_by_naver.png" unless @naver_blogs.blank? %>
		</div>
	</div>
<% end %>
