<li id="comment_<%= comment.id %>" class="comment">
	<div class="top">
		<div class="img">
			<%= profile_img(comment.user) %>
		</div>
		<div class="info">
			<div>
				<%= comment.user.username %> &middot; <%= time_ago_in_ko(comment.updated_at) %>
				<%= link_to_edit_delete_comment_modal(comment) %>
			</div>
			<% if star_rating_exists?(comment) %>
				<div class="star_rating" data-score=<%= comment.rating%>></div>
			<% end %>
		</div>
	</div>
	<div class="tags">
		<%= blue_menu_comment_tags(comment) %>
	</div>
	<div class="contents">
		<%= simple_format comment.contents %>
	</div>
</li>
