<li id="comment_<%= comment.id %>" class="comment">
	<div class="top">
		<div class="img" style="float: left;">
			<%= profile_img(comment.user) %>
		</div>
		<div class="info">
			<div>
				<%= comment.user.username %> &middot; <%= time_ago_in_words(comment.updated_at) %>
			</div>
			<% if star_rating_exists?(comment) %>
				<div class="star_rating" data-score=<%= comment.rating%>></div>
			<% end %>
		</div>
	</div>
	<div class="tags">
		<%= blue_menu_comment_tags(comment) %>
	</div>
	<div class="contents">
		<%= comment.contents %>
	</div>
</li>

<%#= link_to "edit", edit_comment_path(comment), class: "edit_comment", remote: true %>
<%#= link_to "delete", comment_path(comment), class: "delete_comment", method: :delete, remote: true, data: { confirm: "gogo?" } %>
