<h1>Comment#index</h1>

<table class="admin">
	<tr>
		<th>id</th>
		<th>user</th>
		<th>restaurant</th>
		<th>rating</th>
		<th>menu_comments</th>
		<th>contents</th>
		<th>updated_at</th>
		<th></th>
	</tr>

	<% @comments.each do |comment| %>
		<tr>
			<td><%= comment.id %></td>
			<td><%= link_to_user_mymap(comment.user_id) %></td>
			<td><%= restaurant_link_with_name(comment.restaurant_id) %></td>
			<% if comment.rating && comment.rating > 0 %>
				<td class="star_rating" data-score="<%= comment.rating %>"></td>
			<% else %>
				<td></td>
			<% end %>
			<td><%= has_menu_comments?(comment) %></td>
			<td><%= simple_format comment.contents %></td>
			<td><%= created_or_updated_at(comment) %></td>
			<td><%= link_to "destroy", comment_path(comment), method: :delete %></td>
		</tr>
	<% end %>
</table>

<%= will_paginate @comments %>
