<div class="info_window">
	<div class="img">
		<%= restaurant_picture(@restaurant) %>
	</div>
	<div><%= restaurant_name_with_menu_on(@restaurant) %></div>
	<div><%= time_in_ko(@mymap.updated_at) %></div>
	<div class="star_rating" data-score=<%= @mymap.rating %>></div>
	<div><%= @mymap.contents %></div>

	<% if correct_user?(@mymap.user) %>
		<div data-mymap-index="<%= @mymap.index_plus_one %>">
			<%= link_to "삭제", mymap_path(@mymap), { class: "btn btn_cancel destroy_mymap", method: :delete, remote: true, data: { confirm: '해당 음식점을 MyMap에서 삭제하시겠습니까?' } } %>
			<%= link_to "수정", edit_mymap_path(@mymap), { class: "btn btn_submit", remote: true, data: { toggle: 'modal', target: '#myModal' }, onclick: "$('.info_window').hide();" } %>
		</div>
	<% end %>
</div>

<script>
	removeMymapIcon();
</script>
