<div class="info_window">
	<div class="img">
		<%= restaurant_picture(@restaurant) %>
	</div>
	<div><%= restaurant_name_with_menu_on(@restaurant) %></div>
	<div><%= time_in_ko(@mymap.updated_at) %></div>
	<div class="star_rating" data-score=<%= @mymap.rating %>></div>
	<div><%= @mymap.contents %></div>
</div>
