<% provide(:page_title, "MenuMap 검색") %>
<h1>Search page</h1>

<%= form_tag restaurants_path, method: :get, name: nil do %>
	<!-- Autocomplete recommended address name with Addrcomplete model 
			 by jquery-ui autocomplete function 											 -->
	<%= label_tag :address, "set addr" %>
	<%= text_field_tag :address, nil, 
							{ id: "addrcomplete", placeholder: "gogo placeholder" } %>

	<%= label_tag :category, "category" %>

	<!-- options_for_select(options[text, value], selected) -->
	<%= select_tag nil, 
				options_for_select(@categories.map{ |c| [c.name, c.id] }, nil), 
																					{ id: "category_select" } %>
	<%= select_tag :category, 
				options_for_select(@subcategories.map{ |s| [s.name, s.id] }, nil),
																					{ id: "subcategory_select" } %>

	<%= label_tag :delivery %>
	<%= check_box_tag :delivery %>

	<!--%= label_tag :currentPosition, "CurrentPosition" %-->
	<!--%= hidden_field_tag :currentPosition, nil, { id: "curr_lat", name: "lat" } %-->
	<!--%= hidden_field_tag :currentPosition, nil, { id: "curr_lng", name: "lng" } %-->
	<!--%= check_box_tag :curr_pos, 1, false, :onclick => "geoFindMe()" %-->

	<%= label_tag :name %>
	<%= text_field_tag :name %>

	<%= submit_tag "gogogo", { id: "submitbutton", name: nil } %>
<% end %>

<script>
	/**
	$('#curr_pos').change( function() {
		if ( $('#curr_pos').is(':checked') == true ) {
			$('#addrcomplete').prop('disabled', true);
			$('#addrcomplete').hide();
		} else {
			$('#addrcomplete').prop('disabled', false);
			$('#addrcomplete').show();
		};
	});
	**/
</script>
