<h1>Search page</h1>

<%= form_tag search_path, method: :get, name: nil do %>
	<%= label_tag :address, "set addr" %>
	<!-- autocomplete_field_tag(name, value, source, options = {}) -->
	<!-- autocomplete_field_tag :address, "", addrcomplete_path, { id_element: "#jeongbinelement", placeholder: "gogogoplaceholder"} -->
	<%= text_field_tag :address %>

	<%= label_tag :category, "category" %>

	<!-- options_for_select(options[text, value], selected) -->
	<%= select_tag nil, 
				options_for_select(@categories.map{ |c| [c.name, c.name] }, nil), 
																					{ id: "category_select" } %>
	<%= select_tag :category, 
				options_for_select(@subcategories.map{ |s| [s.name, s.name] }, nil),
																					{ id: "subcategory_select" } %>

	<%= submit_tag "gogogo", name: nil %>
<% end %>

<script>
/*$('#address').bind('railsAutocomplete.select', function(event, data){*/
  /* Do something here */
  /* alert(data.item.id); */
/*});*/

$(function() {
	$("#address").autocomplete({
			source: "/home/addrcomplete",
			minLength: 0,
			/* autoFocus: false */
			focus:  function(event, ui){
								$("#address").val(ui.item.name);
								return false;
							},
			select: function(event, ui){
								$("#address").val(ui.item.name);
								return false;
							}
		})
		.data("uiAutocomplete")._renderItem = function(ul, item){
			return $("<li></li>").data("item.autocomplete", item)
													 .append("<a>" + item.name + "</a>")
													 .appendTo(ul);
		};
});
</script>
