<tr>
	<td><%= franchise.id %></td>
	<td><%= franchise.name %></td>
	<td><%= link_to "show", franchise_path(franchise) %></td>
	<td><%= link_to "edit", edit_franchise_path(franchise) %></td>
	<td><%= link_to "destroy", franchise, method: :delete %></td>
</tr>
	
