<%= link_to "new franchise", "#new_franchise" %>

<%= render "franchises/new" %>

<h1>Franchise#index</h1>

<table>
	<tr>
		<th>franchise_id</th>
		<th>name</th>
	</tr>

	<% @franchises.each do |franchise| %>
		<tr>
			<td><%= franchise.id %></td>
			<td><%= franchise.name %></td>
			<td><%= link_to "show", franchise %></td>
			<td><%= link_to "edit", edit_franchise_path(franchise) %></td>
			<td><%= link_to "destroy", franchise, method: :delete %></td>
		</tr>
	<% end %>
</table>
