<h1>Pictures#index</h1>

<%= link_to "new picture", new_picture_path %>

<% @pictures.each do |picture| %>
	<br />
	<%= picture.id %> |
	<%= picture.imageable_id %> |
	<%= picture.created_at %>
	<br />
	<%= image_tag picture.img.url %>
	<br />
<% end %>
