<h1>Pictures#index</h1>

<table class="admin">
	<tr>
		<th>id</th>
		<th>user</th>
		<th>restaurant</th>
		<th>image</th>
		<th>name</th>
		<th>created_at</th>
		<th></th>
		<th></th>
	</tr>

	<% @pictures.each do |picture| %>
		<tr>
			<td><%= picture.id %></td>
			<td><%= link_to_user_mymap(picture.user_id) %></td>
			<td><%= restaurant_link_with_name(picture.try(:imageable_id)) %></td>
			<td><%= image_tag picture.img.url %></td>
			<td><%= picture.img_file_name %></td>
			<td><%= created_or_updated_at(picture) %></td>
			<td><%= link_to "edit", edit_picture_path(picture) %></td>
			<td><%= link_to "delete", picture_path(picture), method: :delete %></td>
		</tr>
	<% end %>
</table>

<%= will_paginate @pictures %>
