<div id="new_comment_section">
	<%= render partial: "comments/new", locals: { comment: @comment } %>
</div>

<div id="no_comment" style="display: <%= display_none_if_comment_exists(@comments) %>">
	<div class="row" style="margin: 0; padding: 0 15px 15px;">
		<div class="col-xs-10 col-xs-offset-1" style="text-align: center; margin-top: 10px;">
			음식점, 메뉴 댓글이 없습니다.<br/>
			댓글을 작성해주세요.
		</div>
	</div>
</div>

<div id="comment_section" style="display: <%= display_none_if_comment_exists(@comments, false) %>">
	<ul id="comment_body" style="list-style: none;">
		<%= render partial: "comments/show", collection: @comments, as: :comment %>
	</ul>

	<% unless @comments.next_page.nil? %>
		<%= link_to '댓글 더보기', more_restaurant_comments_path(@restaurant, page: @comments.next_page), id: 'show_more_link', remote: true %>
	<% end %>
</div>
