<ul style="padding: 0 10px; list-style-type: none;">
	<!-- <a id="mymap_button_<#%= @restaurant.id %>"><#%= mymap_button(@user, @restaurant) %></a> -->
	<li>
		<i class="fa fa-map-signs"></i> <%= @restaurant.addr %>
	</li>
	<li>
		<i class="fa fa-phone"></i>
		<% if @restaurant.phnum %>
			<%= link_to "tel:#{@restaurant.phnum}" do %>
				<%= @restaurant.phnum %> <%= delivery_possible_with_middot(@restaurant) %>
			<% end %>
		<% else %>
			<span style="color: #5890ff">전화번호 정보가 없습니다.</span>
		<% end %>
	</li>
	<li>
		<i class="fa fa-cutlery"></i> <%= @restaurant.category.name %> <i class="fa fa-angle-right"></i> <%= @restaurant.subcategory.name %>	
	</li>

	<% if @restaurant.open_at %>
		<li>
			<i class="fa fa-clock-o"></i> <%= @restaurant.open_at %>
		</li>
	<% end %>

	<li style="text-align: center;">
		<%= link_to modal_rest_err_path(@restaurant), id: "rest_err", style: "text-decoration: none;", remote: true, data: { toggle: "modal", target: "#myModal" } do %>
			음식점 정보가 틀렸나요?
		<% end %>
	</li>
</ul>
