<h1>Restaurants#edit</h1>

<%= form_for @restaurant, html: { multipart: true } do |f| %>
	<%= render "field", f: f %>
	<%= f.submit 'update' %>
<% end %>

<script>
	$("#category_select").val(<%= @restaurant.category.id %>);
	$("#subcategory_select").val(<%= @restaurant.subcategory.id %>);
</script>
