<h1>Restaurants#edit</h1>

<%= form_for @restaurant, html: { multipart: true } do |f| %>
	<%= render "field", f: f %>
	<%= f.submit 'update' %>
<% end %>

<!-- Original category and subcategory -->
<%= @restaurant.category.name %> | <%= @restaurant.subcategory.name %>
