<div class="container">
	<div id="naver_map" style="margin-bottom: 10px;"></div>

	<%= link_to "new restaurant", new_restaurant_path if admin_user? %>

	<% @restaurants.each do |restaurant| %>
		<div id="restaurant_<%= restaurant.id %>">
			<% if picture = restaurant.pictures.first %>
				<%= image_tag picture.img.url, alt: "#{restaurant.name} 사진", style: "width: 120px; height: 90px; display: inline-block;" %>
			<% else %>
				<%= image_tag "restaurants/default_restaurant.png", alt: "현재 등록된 사진이 없습니다.", style: "width: 120px; height: 90px;" %>
			<% end %>
			<div style="display: inline-block">
				<%= restaurant.name %><br />
				<%= restaurant.subcategory.name %><br />
				<%= restaurant.delivery %><br />
				<%= restaurant.addr %>
			</div>

			<%= link_to "show", restaurant_path(restaurant) %>
			<%= link_to "destroy", restaurant_path(restaurant), method: :delete if admin_user? %>
		</div>
	<% end %>
	
	<%= will_paginate @restaurants, :renderer => 'BootstrapPaginationHelper::LinkRenderer', :outer_window => -1, :inner_window => 2 %>
</div>

<%= render 'shared/modal' %>

<script>
	$(document).ready( function() {
		loadNaverMap(<%= @center_x %>, <%= @center_y %>, <%= @level %>);
		showMarkers(<%= @coord_array %>, true, <%= raw @names %>);
		toggleLabels();
		<% if @restaurants.total_pages >= 6 %>
			<% if @restaurants.current_page == 4 %>
				$('a[rel="start"]').hide()
			<% else %>
				$('a[rel="start"]').show()
			<% end %>

			<% if @restaurants.current_page == @restaurants.total_pages - 3 %>
				$('a:contains("<%= @restaurants.total_pages %>")').hide()
			<% else %>
				$('a:contains("<%= @restaurants.total_pages %>")').show()
			<% end %>
		<% end %>
	});
</script>
