<h1>Restaurants#index</h1>

<%= link_to "new restaurant", new_restaurant_path %>

<%= will_paginate @restaurants %>

<table class="table">
	<tr>
		<% Restaurant.column_names.each do |column| %>
			<th><%= column %></th>
		<% end %>
		<th>Best Menu 1</th>
		<th>Best Menu 2</th> 
		<th>메뉴 등록</th>
		<th></th>
		<th></th>
	</tr>

	<% @restaurants.each do |restaurant| %>
		<tr data-url="<%= restaurant_path(restaurant) %>">
			<% restaurant.attributes.each_value do |value| %>
				<td><%= value %></td>
			<% end %>
			<% best_menus = restaurant.title_menus(2) %>
			<% if best_menus == [] %>
				<td>Empty</td>
				<td>Empty</td> 
			<% else %>
				<% best_menus.each do |menu| %>
					<td><%= menu.name %></td>
				<% end %>
			<% end %>
			<% if restaurant.menu_on == 0 %>
				<td><%= link_to "등록 중", restaurant_path(restaurant, anchor: "new_menu_section") %></td>
			<% else %>
				<td><%= link_to "등록 중", restaurant_path(restaurant, anchor: "menu_section_top") %></td>
			<% end %>
			<td><%= link_to "show", restaurant_path(restaurant) %></td>
			<td><%= link_to "destroy", restaurant_path(restaurant), method: :delete %></td>
		</tr>
	<% end %>
</table>

<script>
	$(function () {
    $('table.table tr').click(function () {
        window.location.href = $(this).data('url');
    });
	})
</script>