<h1>Restaurants#index</h1>

<h2>Map</h2>
<div id="naver_map" style="width: 80%; height: 60%"></div>

<%= link_to "new restaurant", new_restaurant_path %>

<%= will_paginate @restaurants, :renderer => 'BootstrapPaginationHelper::LinkRenderer' %>

<table class="table">
	<tr>
		<% Restaurant.column_names.each do |column| %>
			<th><%= column %></th>
		<% end %>
		<th>Best Menu 1</th>
		<th>Best Menu 2</th> 
		<th>메뉴 등록</th>
		<th></th>
		<th></th>
		<th>mymap 보기||등록</th>
	</tr>

	<% @restaurants.each do |restaurant| %>
		<tr data-url="<%= restaurant_path(restaurant) %>">
			<% restaurant.attributes.each_value do |value| %>
				<td><%= value %></td>
			<% end %>
			<% if restaurant.title_menus(2).blank? %>
				<td>Empty</td>
				<td>Empty</td> 
			<% else %>
				<% restaurant.title_menus(2).each do |menu| %>
					<td><%= menu %></td>
				<% end %>
			<% end %>
			<td><%= menu_on_helper(restaurant) %></td>
			<td><%= link_to "show", restaurant_path(restaurant) %></td>
			<td><%= link_to "destroy", restaurant_path(restaurant), method: :delete %></td>
			<td id="mymap_button_<%= restaurant.id %>"><%= mymap_button(@user, restaurant) %></td>
		</tr>
	<% end %>
</table>

<%= render 'shared/modal' %>

<script>
	//$(function () {
	//	Specify table's row more directly just for restaurant table's row.
  //	$('table.table tr').click(function () {
  //  	window.location.href = $(this).data('url');
  //	});
	//})
	$(document).ready( function() {
		loadNaverMap(<%= @center_x %>, <%= @center_y %>, <%= @level %>);
		showMarkers(<%= @coord_array %>, true, <%= raw @names %>);
		toggleLabels();
	});
</script>
