<div class="container">
	<div class="col-md-8 col-md-offset-2" style="padding: 0;">
		<div id="naver_map" style="margin-bottom: 10px;"></div>

		<%= link_to "new restaurant", new_restaurant_path if admin_user? %>

		<% @restaurants.each do |restaurant| %>
			<%= link_to restaurant_path(restaurant), class: "rst_card_link" do %>
				<div id="rst_<%= restaurant.id %>" class="rst_index_card">
					<%= restaurant_picture(restaurant) %>

					<div class="content">
						<%= restaurant_name_with_menu_on(restaurant) %><br />
						<%= menus_or_category(restaurant) %><br />
						<%= delivery_possible?(restaurant) %> <%= gu_and_dong(restaurant) %>
					</div>

					<!--%= menu_on_helper(restaurant) %-->
					<!--% restaurant.title_menus(2).each do |menu| %-->
					<%= link_to "destroy", restaurant_path(restaurant), method: :delete if admin_user? %>
				</div>
			<% end %>
		<% end %>
		
		<%= will_paginate @restaurants, :renderer => 'BootstrapPaginationHelper::LinkRenderer', :outer_window => -1, :inner_window => 2 %>
	</div>
</div>

<%= render 'shared/modal' %>

<script>
	$(document).ready( function() {
		loadNaverMap(<%= @center_x %>, <%= @center_y %>, <%= @level %>);
		showMarkers(<%= @coord_array %>, true, <%= raw @names %>);
		toggleLabels();
		<% if @restaurants.total_pages >= 6 %>
			<% if @restaurants.current_page == 4 %>
				$('a[rel="start"]').hide()
			<% else %>
				$('a[rel="start"]').show()
			<% end %>

			<% if @restaurants.current_page == @restaurants.total_pages - 3 %>
				$('a:contains("<%= @restaurants.total_pages %>")').hide()
			<% else %>
				$('a:contains("<%= @restaurants.total_pages %>")').show()
			<% end %>
		<% end %>
	});
</script>
