<!-- Restaurant -->
<h1>Restaurants#show</h1>
<table>
	<% @restaurant.attributes.each do |key, value| %>
		<tr>
			<td><%= key %></td>
			<% if key == 'phnum' %>
				<td><article><a href="tel:<%= value %>"><%= value %></a></article></td>
			<% elsif key == 'addr' %>
				<td><article><%= value %></article></td>
			<% else %>
				<td><%= value %></td>
			<% end %>
		</tr>
	<% end %>
	<tr>
		<td><%= link_to "edit", edit_restaurant_path(@restaurant) %></td>
		<td><%= link_to "delete", restaurant_path(@restaurant), method: :delete %>
	</tr>
	<tr>
		<td>mymap</td>
		<td id="mymap_button_<%= @restaurant.id %>"><%= mymap_button(@user, @restaurant) %></td>
	</tr>
</table>

<%= render 'shared/modal' %>


<!-- RestInfo and RestErr -->
<!-- Need partial symbol to pass local variables -->
<!-- :locals can pass symbol to partial -->
<%= render partial: "rest_infos/show", locals: { rest_info: @restaurant.rest_info } %>
<%= render "rest_errs/new" %>


<!-- MenuTitle and Menu -->
<h1 id="menu_section_top">Menu section</h1>
<div>
	<p>title_name | title_info</p>
</div>

<div id="menu_section">
	<!-- Collection can pass each related menu_title with :as -->
	<%= render partial: "menu_titles/show", collection: @menu_titles, as: :menu_title %>
</div>

<div id="new_menu_section">
	<%= render "menus/new" %>
</div>


<!-- Comment -->
<h1>Comment section</h1>
<div id="comment_count">
	<%= @comments.count %>
</div> 
<div id="comment_section">
	<%= render "comments/page" %>
</div>

<%= render "comments/new" %>


<!-- Picture -->
<h1>restaurant.pictures</h1>
<div id="picture_section">
	<% @pictures.each do |picture| %>
		<%= image_tag picture.img.url %>
		<%= link_to "edit", edit_picture_path(picture) %>
		<%= link_to "destroy", picture_path(picture), method: :delete %>
	<% end %>
</div>

<h1>Map</h1>
<div id="naver_map" style="width: 80%; height: 60%"></div>

<!-- This script is for require_from_group method -->
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<script>
	$(function(){
		$('.pagination a').attr('data-remote', 'true')
	});

	$(document).ready( function() {
		loadNaverMap(<%= @curr_lat %>, <%= @curr_lng %>, 12);
		showMarkers([<%= @curr_lat %>, <%= @curr_lng %>], true, ["<%= @restaurant.name %>"]);  
		toggleLabels();
	
		<% if @restaurant.with_latlng? %>
			parseFoursquareImg("<%= request.url %>");
		<% end %>

		$("#new_rest_err").validate({
			rules: {
				'rest_err[presence_err]': { require_from_group: [1, ".rest_errs_group"] },
				'rest_err[menu_err]': { require_from_group: [1, ".rest_errs_group"] },
				'rest_err[phnum_err]': { require_from_group: [1, ".rest_errs_group"] },
				'rest_err[category_err]': { require_from_group: [1, ".rest_errs_group"] },
				'rest_err[etc]': { require_from_group: [1, ".rest_errs_group"] }
			}
		});
		$('#new_menu').validate({
			rules: {
				'menu[name]': { required: true }
			}
		});
		$('#new_comment').validate({
			rules: {
				'comment[contents]': { required: true }
			}
		});
		imageUploadValidate();
		slangCheck("#new_comment", "#comment_contents");
		
		$('#comment_contents').bind("paste", function(e) {
			alert("붙여넣기는 금지되어 있습니다.");
			e.preventDefault(); 
		});
		$('#update_comment').click( function(event) {
			if ( <%= current_user.nil? %> ) {
				alert("로그인 후 댓글 작성 가능합니다.");
				event.preventDefault();
			};
		});
	});

	//	// Show nearby restaurants on map
	//	<% @nearbyRestaurants.each_with_index do |restaurant, index| %>
	//		<% if restaurant.lat != nil && restaurant.lng != nil %>
	//    	var lat = <%= restaurant.lat %>;
	//    	var lng = <%= restaurant.lng %>;
	//    	var restaurant_name = '<%= restaurant.name %>';
	//    	var latlng = new nhn.api.map.LatLng(lat, lng);
	//    	var oMarker = new nhn.api.map.Marker(oIcon, {point: latlng, title: restaurant_name});
	//			var oLabel = new nhn.api.map.MarkerLabel();
	//      oMap.addOverlay(oMarker);
	//      oMap.addOverlay(oLabel);
	//      oLabel.setVisible(true, oMarker);
	//    <% end %>
	//	<% end %>
</script>
