<h1>Restaurants#show</h1>

<table>
	<% @restaurant.attributes.each do |key, value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value %></td>
		</tr>
	<% end %>
	<tr>
		<td><%= link_to "edit", edit_restaurant_path(@restaurant) %></td>
		<td><%= link_to "delete", restaurant_path(@restaurant), method: :delete %>
	</tr>
</table>

<%= render "rest_infos/show" %>
<%= render "rest_errs/new" %>

<h1>Menu title section</h1>
<table>
	<tr>
		<th>title_name</th>
		<th>title_info</th>
		<th></th>
		<th></th>
	</tr>
	<%= render @menu_titles %>
</table>

<%= render "menu_titles/new" %>

<h1>Menu section</h1>
<table>
	<tr>
		<th>name</th>
		<th>side_info</th>
		<th>price</th>
		<th>info</th>
		<th>sitga</th>
		<th></th>
		<th></th>
	</tr>
	<%= render @menus %>
</table>

<%= render "menus/new" %>

<h1>Comment section</h1>
<table>
	<tr>
		<th>contents</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<%= render @comments %>
</table>

<%= render "comments/new" %>

<h1>restaurant.pictures</h1>
<% @pictures.each do |picture| %>
	<%= image_tag picture.img.url %>
	<%= link_to "edit", edit_picture_path(picture) %>
	<%= link_to "destroy", picture_path(picture), method: :delete %>
<% end %>
