<h1>Restaurants#show</h1>

<table>
	<% @restaurant.attributes.each do |key, value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value %></td>
		</tr>
	<% end %>
	<tr>
		<td><%= link_to "edit", edit_restaurant_path(@restaurant) %></td>
		<td><%= link_to "delete", restaurant_path(@restaurant), method: :delete %>
	</tr>
</table>

<!-- Need partial symbol to pass local variables -->
<!-- :locals can pass symbol to partial -->
<%= render partial: "rest_infos/show", locals: { rest_info: @restaurant.rest_info } %>
<%= render "rest_errs/new" %>

<h1>Menu section</h1>
<table>
	<tr>
		<th>title_name</th>
		<th>title_info</th>
		<th colspan="6"></th>
	</tr>

	<!-- Collection can pass each related menu_title with :as -->
	<%= render partial: "menu_titles/show", collection: @menu_titles, as: :menu_title %>
</table>

<%= render "menus/new" %>

<h1>Comment section</h1>
<table>
	<tr>
		<th>contents</th>
		<th></th>
		<th></th>
	</tr>
	<%= render partial: "comments/show", collection: @restaurant.comments, as: :comment %>
</table>

<%= render "comments/new" %>

<h1>restaurant.pictures</h1>
<% @pictures.each do |picture| %>
	<%= image_tag picture.img.url %>
	<%= link_to "edit", edit_picture_path(picture) %>
	<%= link_to "destroy", picture_path(picture), method: :delete %>
<% end %>
