<h1>Restaurants#show</h1>

<table>
	<% @restaurant.attributes.each do |key, value| %>
		<tr>
			<td><%= key %></td>
			<td><%= value %></td>
		</tr>
	<% end %>
	<tr>
		<td><%= link_to "edit", edit_restaurant_path(@restaurant) %></td>
		<td><%= link_to "delete", restaurant_path(@restaurant), method: :delete %>
	</tr>
</table>

<%= render "rest_infos/show" %>
