<h1>addresses#show</h1>

<h2><%= @address.name %></h2>
<%= link_to "destroy coordinates", address_path(@address), method: :delete %><br />

<% @address.coordinates.each do |coordinate| %>
	<%= coordinate.lat %> | <%= coordinate.lng %><br />
<% end %>

<div id="naver_map"></div>

<script>
	$(document).on("page:load", loadNaverMap());
	// Change this to normal data passing codes to js
	$(document).ready(showMarkers(<%= @coord_array %>));
</script>
