<% mymap ||= current_user.find_mymap(restaurant)  if current_user %>

<% unless mymap.blank? %>
	<div class="mymap">

		<%= link_to "#mymap_#{mymap.id}", { role: "button", data: { toggle: "collapse" } } do %>
			<div>MyMap 평가보기 <i class="fa fa-chevron-down" style="width: initial;"></i></div>
		<% end %>

		<div id="mymap_<%= mymap.id %>" class="panel-collapse collapse">
			<div class="img">
				<%= profile_img(mymap.user) %>
			</div>
			<%= mymap.rating %>
			<%= mymap.contents %>
		</div>

	</div>
<% end %>
