<div id="star_rating_form" data-score=<%= @mymap.rating %>></div>

<%= f.label :group %>
<% 1.upto(10) do |n| %>
	<%= image_tag s3_image_url("mymap_group_icon_#{n}.png"), id: "mymap_group_icon_#{n}", style: "height: 20px; width: 20px;" %> 
	<%= f.radio_button :group, n %>
<% end %>

<%= f.label :contents %>
<%= f.text_field :contents %>

<script>
	$("#star_rating_form").raty({
		path: "<%= s3_image_url %>",
		half: true,
		scoreName: "mymap[rating]",
		// In mymaps#edit, star rating should show for references.
		score: function() {
			return parseInt($(this).attr("data-score")) / 2;
		}
	});
</script>
