<h2>mymaps#new restaurant = <%= @restaurant.id %></h2>
<%= form_for([@restaurant, @mymap], remote: true) do |f| %>
	<%= render "mymaps/field", f: f %>
	<%= f.submit %>
<% end %>

<script>
	$(document).ready( function() {
		slangCheck("#new_mymap", "#mymap_contents");
	});
	$("#star_rating_form").raty({
		path: "<%= s3_image_url %>",
		half: true,
		scoreName: "mymap[rating]",
		// In mymaps#edit, star rating should show for references.
		score: function() {
			return parseInt($(this).attr("data-score")) / 2;
		}
	});
</script>
