<table>
	<tr>
		<th>mymap_id</th>
		<th>restaurant_id</th>
		<th>rating</th>
		<th>group</th>
		<th>contents</th>
	</tr>

	<tr>
		<td><%= @mymap.id %></td>
		<td><%= @mymap.restaurant_id %></td>
		<td><%= @mymap.rating %></td>
		<td><%= @mymap.group %></td>
		<td><%= @mymap.contents %></td>
	</tr>

	<tr>
		<td><%= link_to "edit_mymap_button", edit_mymap_path(@mymap), { id: "edit_mymap_button", remote: true } %></td>
		<td colspan="4"></td>
	</tr>
</table>
