<div class="rst_img" style="width: 120px; height: 90px; float: left;">
	<%= restaurant_picture(@restaurant) %>
</div>

<div><%= restaurant_name_with_menu_on(@restaurant) %></div>

<% if @mymap.rating != 0 %>
	<div class="star_rating" data-score=<%= @mymap.rating %>></div>
<% end %>

<% if @mymap.contents.blank? %>
	<div style="color: #5890ff; clear: both;">
		MyMap 한줄평이 없습니다.
	</div>
<% else %>
	<div style="clear: both;"><%= @mymap.contents %></div>
<% end %>
<div style="float: right;"><%= time_in_ko(@mymap.updated_at) %> 작성</div>

<div class="modal-footer" style="padding: 10px 0 0; clear: both;">
	<%= link_to "삭제", mymap_path(@mymap), { class: "btn btn_cancel", method: :delete, remote: true, data: {dismiss: "modal"} } %>
	<%= link_to "수정", edit_mymap_path(@mymap), class: "btn btn_submit", remote: true %>
</div>
