<% content_for :head do %>
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@luke9407" />
	<meta name="twitter:creator" content="@luke9407" />
	<meta name="twitter:title" content="MenuMap" />
	<meta name="twitter:description" content="MyMap" />
	<% unless @user.mymap_snapshot.blank? %>
		<meta name="twitter:image" content="<%= @user.mymap_snapshot.snapshot.url %>" />
	<% end %>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="MenuMap" />
	<meta property="og:url" content="http://menumap.co.kr/users/<%= @user.username %>/MyMap" />
	<meta property="og:description" content="MyMap" />
	<% unless @user.mymap_snapshot.blank? %>
		<meta property="og:image" content="<%= @user.mymap_snapshot.snapshot.url %>" />
	<% end %>
<% end %>

<div class="container" style="padding: 0;">
	<div class="col-md-6 col-md-offset-3">
		<div id="mymap_index_title">
			<%= profile_img(@user) %><%= @user.username %>
			<% if correct_user?(@user) %>
				<%= link_to '계정 설정', edit_user_registration_path(@user) %>
			<% end %>
		</div>

		<div id="naver_map" style="margin: 0 -15px 0;"></div>

		<%= render partial: 'mymap_snapshots/share' %>
		<%= render partial: 'restaurants/show', collection: @restaurants, as: :restaurant %>

	</div>
</div>

<script>
	$(document).ready(function(){ 
		loadNaverMap(false, true, 0.8);
	});
</script>
