<% content_for :head do %>
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@luke9407" />
	<meta name="twitter:creator" content="@luke9407" />
	<meta name="twitter:title" content="MenuMap" />
	<meta name="twitter:description" content="MyMap" />
	<% unless @user.mymap_snapshot.blank? %>
		<meta name="twitter:image" content="<%= @user.mymap_snapshot.snapshot.url %>" />
	<% end %>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="MenuMap" />
	<meta property="og:url" content="http://menumap.co.kr/users/<%= @user.username %>/MyMap" />
	<meta property="og:description" content="MyMap" />
	<% unless @user.mymap_snapshot.blank? %>
		<meta property="og:image" content="<%= @user.mymap_snapshot.snapshot.url %>" />
	<% end %>
<% end %>

<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<h1><%= @user.username %>'s <span style="font-family: Ubuntu;">MyMap</span></h1>
		<div id="naver_map" style="margin: 0 -15px 0;"></div>

		<table>
			<tr>
				<th>mymap_id</th>
				<th>restaurant_id</th>
				<th>restaurant_name</th>
				<th>mymap_button</th>
			</tr>

			<%= render @mymaps %>
		</table>

		<%= link_to "share MyMap", new_user_mymap_snapshot_path(@user), id: "share_mymap_button", remote: true, data: {toggle: "modal", target: "#myModal"} %>

	</div>
</div>

<script>
	$(document).ready(function(){ 
		loadNaverMap();
		showGroupMarkers(<%= @coord_array %>, <%= @groups %>, <%= raw @names %>);
		toggleLabels();
	});
</script>
