<h1>Mymap#index</h1>

<% unless @user.mymap_snapshot.blank? %>
	<% content_for :head do %>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="MenuMap" />
		<meta property="og:url" content="http://52.69.51.63/users/<%= @user.username %>/MyMap" />
		<meta property="og:description" content="MyMap" />
		<meta property="og:image" content="<%= @user.mymap_snapshot.snapshot.url %>" />
	<% end %>
<% end %>

<div id="naver_map"></div>

<table>
	<tr>
		<th>mymap_id</th>
		<th>restaurant_id</th>
		<th>restaurant_name</th>
		<th>mymap_button</th>
	</tr>

	<%= render @mymaps %>
</table>

<%= link_to "share MyMap", new_user_mymap_snapshot_path(@user), id: "share_mymap_button", remote: true %>

<div id="modal">
</div>

<script>
	$(document).on("page:load", loadNaverMap());
	$(document).ready(function(){ showMarkers(<%= @coord_array %>)});
</script>
