<h1>Admin/monitors#index</h1>

<%= will_paginate @restaurants %>

<table class="table">
	<tr>
		<% Restaurant.column_names.each do |column| %>
			<th><%= column %></th>
		<% end %>
		<th>Best Menu 1</th>
		<th>Best Menu 2</th> 
		<th>메뉴 등록</th>
		<th></th>
		<th></th>
	</tr>

	<% @restaurants.each do |restaurant| %>
		<tr>
			<% restaurant.attributes.each_value do |value| %>
				<td><%= value %></td>
			<% end %>
			<% if restaurant.title_menus(2).blank? %>
				<td>Empty</td>
				<td>Empty</td> 
			<% else %>
				<% restaurant.title_menus(2).each do |menu| %>
					<td><%= menu %></td>
				<% end %>
			<% end %>
			<td><%= menu_on_helper(restaurant) %></td>
			<td><%= link_to "show", restaurant_path(restaurant) %></td>
			<td><%= link_to "destroy", restaurant_path(restaurant), method: :delete %></td>
		</tr>
	<% end %>
</table>