<%= link_to "MenuMap", root_path %>

<ul>
	<li>
		<%= link_to "about page", about_path %>
	</li>
	<li>
		<%= link_to "manual page", manual_path %>
	</li>
	<li>
		<%= link_to "qna page", qna_path %>
	</li>
	<li>
		<%= link_to "search page" , search_path %>
	</li>
	<li>
		<%= link_to "restaurant register" , new_rest_register_path %>
	</li>
	<li>
		<%= link_to "restaurants index" , restaurants_path %>
	</li>
	<li>
		<%= link_to "restaurants errors" , rest_errs_path %>
	</li>
	<li>
		<%= link_to "menu titles" , menu_titles_path %>
	</li>
	<li>
		<%= link_to "menus" , menus_path %>
	</li> 
	<li>
		<%= link_to "comments" , comments_path %>
	</li>
	<li>
		<%= link_to "pictures" , pictures_path %>
	</li>
	<li>
		<%= link_to "addresses" , addresses_path %>
	</li>
	<li>
		<%= link_to "addr_rules" , addr_rules_path %>
	</li>
	<li>
		<%= link_to "addr_conversions" , addr_conversions_path %>
	</li>
	<% if !current_user %>
		<li>
			<%= link_to "signup page" , new_user_registration_path %>
		</li>
		<li>
			<%= link_to "signin page" , new_user_session_path %>
		</li>
	<% else %>
		<li>
			<%= link_to "signout page" , destroy_user_session_path, method: :delete %>
		</li>
	<% end %>
</ul>
