<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" style="border: none; margin-bottom: 0;"> 
				<span class="glyphicon glyphicon-option-vertical"></span>
      </button>
      <button type="button" class="navbar-toggle collapsed" style="border: none; margin-bottom: 0; margin-right: 5px;">
				<%= link_to search_path, style: "color: initial;" do %>
					<span class="glyphicon glyphicon-search"></span>
				<% end %>
			</button>
			<%= link_to root_path, class: "navbar-brand", style: "padding-bottom: 0;" do %>
				<span class="ubuntu">MenuMap</span>
			<% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
				<li><%= link_to "자주묻는 질문", qna_path %></li>
				<li><%= link_to "음식점 검색" , search_path %></li>
				<% if !current_user %>
					<li><%= link_to "로그인" , new_user_session_path %></li>
				<% else %>
					<% if current_user.admin? %>
						<li><%= link_to "admin" , monitors_path %></li>
					<% end %>
					<li>
						<%= current_user.username %>
						<% if current_user.fb_img.present? %>
							<%= image_tag current_user.fb_img %>
						<% else %>
							<%= image_tag "users/default_profile.png", style: "height: 20px; width: 20px;" %>
						<% end %>
					</li>
					<li><%= link_to "내 페이지" , user_profile_path(current_user.username) %></li>
					<li><%= link_to "로그아웃" , destroy_user_session_path, method: :delete %></li>
				<% end %>
      </ul>
    </div>
  </div>
</nav>
