<%= link_to "MenuMap", root_path %>

<% if current_user %>
	<br><%= current_user.username %>
	<% if current_user.fb_img.present? %>
		<%= image_tag current_user.fb_img %>
	<% else %>
		<%= image_tag "users/default_profile.png", style: "height: 20px; width: 20px;" %>
	<% end %>
<% end %>

<ul>
	<li>
		<%= link_to "qna page", qna_path %>
	</li>
	<li>
		<%= link_to "search page" , search_path %>
	</li>
	<% if !current_user %>
		<li>
			<%= link_to "signin page" , new_user_session_path %>
		</li>
	<% else %>
		<% if current_user.admin? %>
			<li>
				<%= link_to "admin monitor page" , monitors_path %>
			</li>
		<% end %>
		<li>
			<%= link_to "my page" , user_profile_path(current_user.username) %>
		</li>
		<li>
			<%= link_to "signout page" , destroy_user_session_path, method: :delete %>
		</li>
	<% end %>
</ul>
