<!DOCTYPE html>
<html>
	<head>
		<!-- Compatibility issue -->
		<%= render "layouts/shim" %>

		<!-- meta tags -->
		<%= meta_title %>

		<!-- js, css assets -->
		<!-- API loading -->
		<%= render "layouts/api_key" %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<!-- Security issue -->
		<%= csrf_meta_tags %>
	</head>
	<body>

		<!-- Navigation -->
		<%= render "layouts/header" %>

		<!-- Flash -->
		<%= render "layouts/flash" %>

		<%= yield %>

		<!-- Callback javascript codes for specific pages -->
		<%= render "shared/callback_scripts" %>
	</body>
</html>
