<!DOCTYPE html>
<html>
	<head>
		<!-- Compatibility issue -->
		<%= render 'layouts/shim' %>

		<!-- Meta data for MenuMap -->
		<title>MenuMap</title>

		<!-- js, css assets -->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<!-- Security issue -->
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render "layouts/header" %>

		<%= yield %>

	</body>
</html>
