<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	

		<!-- Compatibility issue -->
		<%= render "layouts/shim" %>

		<!-- meta tags -->
		<%= render "layouts/meta_tags" %>

		<!-- API loading -->
		<%= render "layouts/api_key" %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag "//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" %>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<!-- Font Awesome for Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

		<!-- Security issue -->
		<%= csrf_meta_tags %>

		<%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body>

		<div id="wrap">
			<!-- Navigation -->
			<%= render "layouts/header" %>

			<!-- Flash -->
			<div id="flash" style="width: 100%; position: fixed; top: 0;">
				<%= render "layouts/flash" %>
			</div>

			<%= yield %>

			<!-- Callback javascript codes for specific pages -->
			<%= render "shared/callback_scripts" %>
		</div>

		<!-- Footer -->
		<%= render "layouts/footer" %>
	</body>
</html>
