<% provide(:page_title, "회원가입") %>

<div id="signup" class="container" style="margin-top: 20px;">
	<div class="col-md-6 col-md-offset-3">
		<%= devise_error_messages! %>

		<div>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<legend>회원가입</legend>

				<div class="form-group">
					<%= f.email_field :email, { class: "form-control", autofocus: true, placeholder: "이메일*" } %>
				</div>

				<div class="form-group">
					<%= f.text_field :username, { class: "form-control", placeholder: "유저명*" } %>
				</div>

				<div class="form-group">
					<%= f.password_field :password, { class: "form-control", autocomplete: "off", placeholder: "비밀번호(8자 이상)*" } %>
				</div>

				<div class="form-group">
					<%= f.password_field :password_confirmation, { class: "form-control", autocomplete: "off", placeholder: "비밀번호 확인*" } %>
				</div>

				<div class="form-group">
					<%= check_box_tag :consent %>
					<%= label_tag :consent do %>
						<%= link_to "개인정보처리방침", personal_info_path %>
						에 동의하겠습니다.<span style="color: #999; font-size: 12px;">(필수)</span>
					<% end %>
				</div>

				<%= f.button "가입", class: "btn btn_submit btn-block", style: "margin-top: 20px;" %>
			<% end %>
		</div>

		<%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-social btn-facebook" do %>
			<i class="fa fa-facebook"></i> 페이스북으로 회원가입
		<% end %>
	</div>
</div>
